.question-form {
  position: relative;
  max-width: 80%;
  display: inline-block;
  width: 400px;
  border: 1px solid lightslategrey;
  padding: 10px 25px 20px 25px;
  border-radius: 5px;
  box-shadow: 3px 4px 10px 4px rgba(0, 0, 0, 0.2);
  margin-top: 15%;
  margin-left: 15%;
}
